/* Base */

html {
  font-family: 'Ubuntu', sans-serif;
  line-height: 1.2;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #191b1d;
  text-align: left;

  /* backgrounds by SVGBackgrounds.com */
  /* light */
  /* background-color: #fffefb; */
  /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='759' height='632.5' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.02'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/svg%3E"); */
  /* dark */
  background-color: #155f5f;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='759' height='632.5' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.04'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/svg%3E");
}

h1, h2, h3 ,h4, h5, h6 {
  font-family: 'Oswald';
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 0.75rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.66rem;
}

h3 {
  font-size: 2.33rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.66rem;
}

h6 {
  font-size: 1.33rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
  line-height: 1.6rem;
}


/* Colors */

.purple {
  color: #693F8B;
}

.purple-dark {
  color: #4c2d66;
}

.teal {
  color: #347C7C;
}

.teal-dark {
  color: #155f5f;
}

.whitish {
  color: #fffefb;
}

.thin-whitish {
  color: #fffefba2;
}


/* Customize */

.accordion-btn {
  color: #191b1d;
  font-family: 'Ubuntu', sans-serif;
  background-color: #fdfaf1;
  cursor: pointer;
  padding: 18px;
  text-align: left;
  border: 1px solid #66666622;
  border-bottom: none;
  outline: none;
  transition: 0.4s;
  width: 100%;
}

.accordion .accordion-btn:first-of-type {
  border-radius: 1em 1em 0 0;
}

.accordion .accordion-btn:last-of-type {
  border-radius: 0 0 1em 1em;
  border-bottom: 1px solid #66666622;
}

.active, .accordion-btn:hover {
  background-color: #66666622;
}

.panel {
  padding: 0 18px;
  max-height: 0;
  border-left: 1px solid #66666622;
  border-right: 1px solid #66666622;
  border-top: none;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.accordion .panel:last-of-type {
  border-radius: 0 0 1em 1em;
  border-bottom: none;
}

.card-carousel {
  padding: 0;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.slide {
  margin-bottom: 2em;
}

.slick-prev:before, .slick-next:before {
  color: #fdfaf1a2;
}

.slick-prev:before {
  margin-left: 8px;
}

.slick-next:before {
  margin-right: 8px;
}
.card-col {
  background-color: #fffefb;
  border-radius: 1.2em;
  margin: 0 1rem;
  padding: 2rem;
}

.down-button {
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 4rem;
  height: 10vh;
  margin-bottom: 10vh;
}

.hello-block {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  margin: 0 1rem;
  padding: 3.33rem 1.5rem 1rem 1.5rem; 
  text-align: center;
  background-color: #fffefb;
  border-radius: 2em;
}

.hello-img {
  align-items: center;
  justify-content: center;
  align-self: center;
  padding: 20px 0px 0px;
}

.hello-img img {
  max-height: 38vh;
  max-width: 80%;
  filter: grayscale(100%)
}

.icon {
  text-align: center;
  font-size: 3rem;
}

img.circle {
  border-radius: 50%;
}

img.center {
  display: block;
  margin: auto auto; 
}

.intro-fill {
  padding-top: 2vh;
  min-height: 90vh;
}

.shadow-def {
  -webkit-box-shadow: 0 1px 8px 1px #252525d6;
	-moz-box-shadow: 0 1px 8px 1px #252525d6;
	box-shadow: 0 1px 8px 1px #252525d6;
}

.vert-center-col {
  align-self: center;
}

.vert-fill {
  padding-top: 5vh;
  min-height: 100vh;
}

.vert-fill-3-4 {
  padding-top: 5vh;
  min-height: 75vh;
}

.vert-fill-half {
  padding-top: 5vh;
  min-height: 50vh;
}

.vert-fill-third {
  padding-top: 5vh;
  min-height: 33vh;
}

.vert-fill-fourth {
  padding-top: 5vh;
  min-height: 25vh;
}

/* Rotator */

.hello-rw {
  text-align: left;
}

.hello-rw h1 {
  font-size: 3.5rem;
  line-height: 1;
}

.hello-rw h2 {
  -webkit-animation: rotateWord 24s linear infinite 0s;
  -ms-animation: rotateWord 24s linear infinite 0s;
  animation: rotateWord 24s linear infinite 0s;
  margin-bottom: 0;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  top: 1rem;
}

.hello-rw h2:nth-child(2) {
  -webkit-animation-delay: 4s;
  -ms-animation-delay: 4s;
  animation-delay: 4s;
}

.hello-rw h2:nth-child(3) {
  -webkit-animation-delay: 8s;
  -ms-animation-delay: 8s;
  animation-delay: 8s;
}

.hello-rw h2:nth-child(4) {
  -webkit-animation-delay: 12s;
  -ms-animation-delay: 12s;
  animation-delay: 12s;
}

.hello-rw h2:nth-child(5) {
  -webkit-animation-delay: 16s;
  -ms-animation-delay: 16s;
  animation-delay: 16s;
}

.hello-rw h2:nth-child(6) {
  -webkit-animation-delay: 20s;
  -ms-animation-delay: 20s;
  animation-delay: 20s;
}

.hello-rw h3 {
  margin-top: 1.75rem;
}

.hello-rw h5 {
  line-height: 2;
}

.hello-rw h5:nth-child(odd) {
  text-indent: 1rem;
}

.hello-rw h5:nth-child(even) {
  text-indent: 4rem;
  line-height: 1.2;
}

@-webkit-keyframes rotateWord {
  0% {
      opacity: 0;
  }
  3% {
      opacity: 0;
      -webkit-transform: translateY(-30px);
  }
  7% {
      opacity: 1;
      -webkit-transform: translateY(0px);
  }
  16% {
      opacity: 1;
      -webkit-transform: translateY(0px);
  }
  20% {
      opacity: 0;
      -webkit-transform: translateY(30px);
  }
}

@-ms-keyframes rotateWord {
  0% {
      opacity: 0;
  }
  3% {
      opacity: 0;
      -webkit-transform: translateY(-30px);
  }
  7% {
      opacity: 1;
      -webkit-transform: translateY(0px);
  }
  16% {
      opacity: 1;
      -webkit-transform: translateY(0px);
  }
  20% {
      opacity: 0;
      -webkit-transform: translateY(30px);
  }
}

@keyframes rotateWord {
  0% {
      opacity: 0;
  }
  3% {
      opacity: 0;
      -webkit-transform: translateY(-24px);
  }
  6% {
      opacity: 1;
      -webkit-transform: translateY(0px);
  }
  17% {
      opacity: 1;
      -webkit-transform: translateY(0px);
  }
  20% {
      opacity: 0;
      -webkit-transform: translateY(24px);
  }
}


/* Fading */

@-webkit-keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

@-o-keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

.fadeIn {
  opacity: 0;
  -webkit-animation: fadeIn ease-in 1;
  -moz-animation: fadeIn ease-in 1;
  -o-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.fadeIn-1s {
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
}

.fadeIn-1-5s {
  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  -o-animation-duration: 1.5s;
  animation-duration: 1.5s;
}

.fadeIn-2s {
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -o-animation-duration: 2s;
  animation-duration: 2s;
}

.fadeIn-Delay-0-5s {
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  -o-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

.fadeIn-Delay-1s {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -o-animation-delay: 1s;
  animation-delay: 1s;
}

/* Media Queries */

@media only screen and (max-width: 992px){
  .hello-rw h5:nth-child(even) {
    text-indent: .2rem;
  }

  .hello-rw h5:nth-child(odd) {
    text-indent: .2rem;
  }

  h1 {
    font-size: 2.66rem;
  }
  
  h2 {
    font-size: 2.33rem;
  }
  
  h3 {
    font-size: 2rem;
  }
  
  h4 {
    font-size: 1.66rem;
  }
  
  h5 {
    font-size: 1.33rem;
  }
  
  h6 {
    font-size: 1rem;
  }

  body {
    font-size: 0.9rem;
  }
}

@media only screen and (min-width: 992px){
  .hello-block{
    padding: 4.33rem 1rem 2rem 1rem; 
  }

  .hello-rw h2 {
    top: 2rem;
  }

  body {
    font-size: 1rem;
  }
}