/******************/
/* Root Variables */
/******************/
:root {
  --base: #f8f8f8;
  --base-shadow: #dedede;
  --main-text: #005661;
  --impact: #a78965;
  --impact-alt: #0095a8;
  --link-text: #009456;
  --link-hover: #00b368;
}

/*****************/
/* Theme Queries */
/*****************/

@media (prefers-color-scheme: dark) {
  :root {
    --base: #1b2932;
    --base-shadow: #171722;
    --main-text: #c5cdd3;
    --impact: #d3b692;
    --impact-alt: #72b7c0;
    --link-text: #70c27f;
    --link-hover: #3f8d6c;
  }
}

/*************/
/* Elements */
/************/

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-color: var(--base);
  scroll-behavior: smooth;
}

body {
  color: var(--main-text);
  font-family: 'Fira Code', monospace;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  margin: 0 8vw;
}

a {
  text-decoration: none;
}

a,
a:visited {
  color: var(--link-text);
}

a:hover {
  color: var(--link-hover);;
}

footer {
  min-height: 15vh;
  padding: 8vh 0 2vh;
  text-align: center;
  font-size: .75em;
  opacity: 60%;
}

footer p {
  margin-bottom: .5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Kanit', sans-serif;
  font-weight: 500;
  color: var(--impact);
}

h1 {
  font-size: 3rem;
  margin-bottom: 3rem;
}

h2 {
  font-size: 2.66rem;
  margin-bottom: 1.66rem;
  margin-top: 2.66rem;
  text-align: center;
}

h3 {
  font-size: 2.33rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.66rem;
}

h6 {
  font-size: 1.33rem;
}

i {
  color: var(--impact-alt);
}

h2 i {
  color: var(--impact);
  font-size: .7em;
}

li {
  font-size: .9em;
}

main:first-child {
  margin-top: 5vh;
  padding-top: 5vh;
}

header hr,
p.blurb {
  opacity: 0;
  animation: text-fade-in 1.5s ease-in 2.5s forwards;
}

hr {
  border-color: var(--main-text)
}

main {
  padding-top: 5vh;
  flex: 1;
}

main p {
  margin-bottom: 1.5em
}

main p.short-center {
  padding: 0 5vw;
}

main img {
  border-radius: 10px;
  display: block;
  max-width: 80%;
  margin: 2em auto;
}

main img.center {
  max-width: 100%;
  margin: 1.5em auto;
}

mark {
  background-color: var(--impact);
  border-radius: .2em;
  color: var(--base);
  padding: .1em .2em;
  white-space: nowrap;
}

/*******************/
/* Element Queries */
/*******************/

@media (min-width: 768px) {

  body {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    column-gap: 4vw;
    grid-template-rows: auto 1fr auto;
    margin: 0 4vw;
  }

  header {
    max-width: 40vw;
  }

  header,
  footer {
    grid-column: span 3;
    margin: auto;
  }

  main {
    align-items: center;
    column-gap: 3vw;
    display: grid;
    grid-auto-flow: dense;
    grid-column: 2;
    grid-row: 2;
    grid-template-columns: 2fr 3fr 2fr;
  }

  main div.contacts {
    grid-column: span 3;
  }

  main p {
    grid-column: span 3;
  }

  main p.short-left {
    grid-column: 1 / span 2;
    grid-row-start: auto;
  }

  main p.short-right {
    grid-column: 2 / span 2;
  }

  main img.left {
    grid-column: 1 / span 1;
    max-width: 100%;
  }

  main img.right {
    grid-column: 3 / span 1;
    max-width: 100%;
  }

  main img.center-full {
    grid-column: span 3;
    max-height: 50vh;
  }

  main h1,
  main h2,
  main h3,
  main h4,
  main h5,
  main h6 {
    grid-column: span 3;
  }
}

/***********/
/* Classes */
/***********/

.blurb mark {
  animation: mark-fade-away 2s ease-in 8s forwards;
  padding: inherit 1px;
}

.contacts {
  margin: auto;
  width: fit-content;
}

.down-bar {
  align-items: center;
  display: flex;
  height: 30vh;
  justify-content: center;
}

.down-bar a {
  animation: text-fade-in 1.5s ease-in 2.5s forwards;
  color: var(--impact-alt);
  font-size: 3rem;
  justify-content: center;
  opacity: 0;
}

.fake-h1 {
  font-size: 3rem;
  font-family: 'Kanit', sans-serif;
  font-weight: 500;
}

.intro {
  color: var(--main-text-alt);
  display: flex;
  flex-direction: column;
  font-weight: 600;
  height: 95vh;
}

.intro>div {
  width: 100%;
  margin-top: 8vh;
}

.intro h1 {
  opacity: 0;
  animation: text-fade-in 1.5s ease-in 1s forwards;
}

.intro h1,
.intro p:not(.blurb) {
  display: inline;
}

.intro h1:not(mark) {
  color: var(--main-text-alt);
}

.intro-block {
  height: 50vh;
}

.italic {
  font-style: italic;
}

.shadow {
  box-shadow: 4px 4px 6px 3px var(--base-shadow);
}

/*****************/
/* Class Queries */
/*****************/

@media (max-width: 450px) {
  body {
    font-size: 1rem;
  }

  h1,
  .fake-h1 {
    font-size: 2rem;
  }

  h2{
    font-size: 1.75rem;
  }
}

@media (min-width: 768px) {
  .down-bar {
    grid-column: span 3;
  }

  .intro {
    grid-column: span 3;
    width: 60%;
  }

  .intro-block {
    width: 80%;
  }
}

/**************/
/* Animations */
/**************/

@keyframes mark-fade-away {
  0% {
  }

  75% {
    color: inherit;
  }

  100% {
    background-color: inherit;
    border-radius: inherit;
    color: inherit;
  }
}

@keyframes text-fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/****************/
/* a11y Queries */
/****************/

@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}