/* Base */

html {
  font-family: sans-serif;
  line-height: 1.2;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #191b1d;
  text-align: left;
  background-color: #fdf9ee;
}

h1, h2, h3 ,h4, h5, h6 {
  font-family: 'Oswald';
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 0.75rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.66rem;
}

h3 {
  font-size: 2.33rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.66rem;
}

h6 {
  font-size: 1.33rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}


/* Customize */

.down-button {
  height: 10vh;
}

.hello-block {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  padding-top: 2.33rem; 
  text-align: center;
}

.hello-img {
  align-items: center;
  justify-content: center;
  align-self: center;
  padding: 20px 0px;
}

.hello-img img {
  max-height: 30vh;
  max-width: 90%;
}

img.circle {
  border-radius: 50%;
}

img.center {
  display: block;
  margin: auto auto; 
}

.intro-fill {
  padding-top: 2vh;
  height: 90vh;
}

/* Rotator */

.hello-rw {
  text-align: left;
}

.hello-rw h1 {
  font-size: 3.5rem;
  line-height: 1;
}

.hello-rw h2 {
  -webkit-animation: rotateWord 24s linear infinite 0s;
  -ms-animation: rotateWord 24s linear infinite 0s;
  animation: rotateWord 24s linear infinite 0s;
  margin-bottom: 0;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
}

.hello-rw h2:nth-child(2) {
  -webkit-animation-delay: 4s;
  -ms-animation-delay: 4s;
  animation-delay: 4s;
}

.hello-rw h2:nth-child(3) {
  -webkit-animation-delay: 8s;
  -ms-animation-delay: 8s;
  animation-delay: 8s;
}

.hello-rw h2:nth-child(4) {
  -webkit-animation-delay: 12s;
  -ms-animation-delay: 12s;
  animation-delay: 12s;
}

.hello-rw h2:nth-child(5) {
  -webkit-animation-delay: 16s;
  -ms-animation-delay: 16s;
  animation-delay: 16s;
}

.hello-rw h2:nth-child(6) {
  -webkit-animation-delay: 20s;
  -ms-animation-delay: 20s;
  animation-delay: 20s;
}

.hello-rw h3 {
  margin-top: 1.75rem;
}

.hello-rw h5 {
  line-height: 2;
}

.hello-rw h5:nth-child(odd) {
  text-indent: 1rem;
}

.hello-rw h5:nth-child(even) {
  text-indent: 4rem;
  line-height: 1.2;
}

@-webkit-keyframes rotateWord {
  0% {
      opacity: 0;
  }
  3% {
      opacity: 0;
      -webkit-transform: translateY(-30px);
  }
  7% {
      opacity: 1;
      -webkit-transform: translateY(0px);
  }
  16% {
      opacity: 1;
      -webkit-transform: translateY(0px);
  }
  20% {
      opacity: 0;
      -webkit-transform: translateY(30px);
  }
}

@-ms-keyframes rotateWord {
  0% {
      opacity: 0;
  }
  3% {
      opacity: 0;
      -webkit-transform: translateY(-30px);
  }
  7% {
      opacity: 1;
      -webkit-transform: translateY(0px);
  }
  16% {
      opacity: 1;
      -webkit-transform: translateY(0px);
  }
  20% {
      opacity: 0;
      -webkit-transform: translateY(30px);
  }
}

@keyframes rotateWord {
  0% {
      opacity: 0;
  }
  3% {
      opacity: 0;
      -webkit-transform: translateY(-24px);
  }
  6% {
      opacity: 1;
      -webkit-transform: translateY(0px);
  }
  17% {
      opacity: 1;
      -webkit-transform: translateY(0px);
  }
  20% {
      opacity: 0;
      -webkit-transform: translateY(24px);
  }
}